@page "/"

<PageTitle>Student Management</PageTitle>

<h1>Student Management System</h1>

Welcome to our new app.

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@

<script src="_content/StudentUI/CsvUploader.razor.js"></script>

<div id="app">Loading...</div>
<script src="_content/StudentUI/StudentUI.dll.js"></script>
<script src="_content/StudentUI/Blazor.js"></script>

