body[b-2o2ahkn23p] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container[b-2o2ahkn23p] {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn-b-2o2ahkn23p 0.5s ease;
}

@keyframes fadeIn-b-2o2ahkn23p {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1[b-2o2ahkn23p] {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

form[b-2o2ahkn23p] {
    display: flex;
    flex-direction: column;
}

input[type="text"][b-2o2ahkn23p] {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

    input[type="text"]:focus[b-2o2ahkn23p] {
        border-color: #ff5733; /* Change border color on focus */
    }

button[type="submit"][b-2o2ahkn23p] {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button[type="submit"]:hover[b-2o2ahkn23p] {
        background-color: #ff8657; /* Change button color on hover */
    }


    /* Modal design */

/* Modal Container */
/* Success Modal Container */
.modal[b-2o2ahkn23p] {
    width: 20vw;
    height: 20vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 40%;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Success Modal Content */
.-modal-content[b-2o2ahkn23p] {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: #4caf50; /* Green background color */
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    /* Close Button */
    .modal-content .close[b-2o2ahkn23p] {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

        /* Hover Effect for Close Button */
        .modal-content .close:hover[b-2o2ahkn23p] {
            color: #222; /* Dark color on hover */
        }

    /* Success Modal Heading */
    .modal-content h2[b-2o2ahkn23p] {
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* Success Modal Paragraph */
    .modal-content p[b-2o2ahkn23p] {
        font-size: 16px;
        margin-bottom: 20px;
    }


/* Modal Content */
.modal-content1[b-2o2ahkn23p] {
    width: 250px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    /* Close Button */
    .modal-content1 .close[b-2o2ahkn23p] {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        cursor: pointer;
        color: black;
    }

    /* Buttons */
    .modal-content1 button[b-2o2ahkn23p] {
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;
        width: 120px;
    }

        /* Delete Button */
        .modal-content1 button.delete-btn[b-2o2ahkn23p] {
            background-color: red;
            color: white;
        }

        /* Move to Bin Button */
        .modal-content1 button.move-to-bin-btn[b-2o2ahkn23p] {
            background-color: green;
            color: white;
        }

        /* Cancel Button */
        .modal-content1 button.cancel-btn[b-2o2ahkn23p] {
            background-color: navajowhite;
            color: black;
        }

        /* Hover Effect */
        .modal-content1 button:hover[b-2o2ahkn23p] {
            opacity: 0.8;
        }

